# Editor and style files
.editorconfig
.prettierignore
.prettierrc
.eslintrc.js
.vscode/*
.github/*

# tests
test/*
jest.config.js
coverage

# docs
docs

# Building Configuration Files
webpack.config.js
tsconfig.json
package-scripts.js

# Additional documentarion
TODO.md
